<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiUNenOFu5q-uNFpgxYRP5mdOvGwPdltU</string>
	<key>GCM_SENDER_ID</key>
	<string>39730604874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.profitpulse</string>
	<key>PROJECT_ID</key>
	<string>profitpulse-c8839</string>
	<key>STORAGE_BUCKET</key>
	<string>profitpulse-c8839.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39730604874:ios:a627b204dcfd8478316fb3</string>
</dict>
</plist>